<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <activity
            android:name=".element.LearnMoreActivity"
            android:theme="@style/StripePaymentSheetDefaultTheme"
            android:exported="false"/>
    </application>
</manifest>
