<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.stripe.example"
          android:versionCode="1"
          android:versionName="1.0">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/appName">

        <!-- Enables the Google Payment API -->
        <meta-data
            android:name="com.google.android.gms.wallet.api.enabled"
            android:value="true"/>

        <activity
            android:name=".activity.PaymentActivity"
            android:theme="@style/SampleTheme">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.PaymentIntentActivity"
            android:theme="@style/SampleTheme"
            android:launchMode="singleInstance">
            <intent-filter>
            <action android:name="android.intent.action.VIEW"/>

            <category android:name="android.intent.category.DEFAULT"/>
            <category android:name="android.intent.category.BROWSABLE"/>

            <data
                android:host="payment_intent_return"
                android:scheme="stripe"/>
        </intent-filter>
        </activity>
        <service
            android:name=".service.TokenIntentService"
            android:exported="false"/>

        <activity
            android:name=".activity.RedirectActivity"
            android:launchMode="singleTask"
            android:theme="@style/SampleTheme">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data
                    android:host="async"
                    android:scheme="stripe"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data
                    android:host="sync"
                    android:scheme="stripe"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.LauncherActivity"
            android:launchMode="singleTask"
            android:theme="@style/SampleTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.CustomerSessionActivity"
            android:theme="@style/SampleThemeDefault">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.PaymentMultilineActivity"
            android:theme="@style/SampleThemeDefault">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.PaymentSessionActivity"
            android:theme="@style/SampleThemeDefault">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
            </intent-filter>
        </activity>
        <activity android:name=".activity.PayWithGoogleActivity"
                  android:theme="@style/SampleThemeDefault">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
            </intent-filter>
        </activity>
    </application>

</manifest>
