<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.stripe.example"
          android:versionCode="1"
          android:versionName="1.0">

    <uses-sdk android:minSdkVersion="7" android:targetSdkVersion="21"/>

    <uses-permission android:name="android.permission.INTERNET"/>

    <application android:label="@string/appName" android:icon="@drawable/ic_launcher">

        <activity android:name=".activity.PaymentActivity"
                  android:theme="@style/Theme"
                  android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

    </application>
</manifest>
