# global - fallback to this group if the following groups don't match
*   @brnunes-stripe @michelleb-stripe @skyler-stripe @ccen-stripe @awush-stripe

# payment sdk
/payments/ @brnunes-stripe @michelleb-stripe @skyler-stripe @ccen-stripe
/payments-core/ @brnunes-stripe @michelleb-stripe @skyler-stripe @ccen-stripe
/paymentsheet/ @brnunes-stripe @michelleb-stripe @skyler-stripe
/example/ @brnunes-stripe @michelleb-stripe @skyler-stripe
/paymentsheet-example/ @brnunes-stripe @michelleb-stripe @skyler-stripe
/wechatpay/ @brnunes-stripe @michelleb-stripe @skyler-stripe @ccen-stripe
/stripe-test-e2e/ @brnunes-stripe @michelleb-stripe @skyler-stripe
/link/ @brnunes-stripe @michelleb-stripe @skyler-stripe

# stripecardscan sdk
/stripecardscan/ @awush-stripe @ccen-stripe
/stripecardscan-example/ @awush-stripe @ccen-stripe

# identity sdk
/identity/ @ccen-stripe @awush-stripe
/identity-example/ @ccen-stripe @awush-stripe

# shared modules
/stripe-core/ @ccen-stripe
/payments-ui-core/ @brnunes-stripe @michelleb-stripe @skyler-stripe
/camera-core/ @ccen-stripe @awush-stripe
