language: android
jdk: oraclejdk8

android:
  components:
    - tools
    - platform-tools
    - tools
    - build-tools-29.0.1
    - android-29
    - extra-google-google_play_services
    - extra-google-m2repository
    - extra-android-m2repository
    - extra-android-support
    - addon-google_apis-google-24

licenses:
    - 'android-sdk-license-.+'
    - 'google-gdk-license-.+'
    - '.+'

before_install:
  - yes | sdkmanager "platforms;android-28"

script:
  - ./gradlew :stripe:checkstyle :example:checkstyle :samplestore:checkstyle lint
  - ./gradlew clean test
