language: android
jdk: oraclejdk8

android:
  components:
    - tools
    - build-tools-25.0.0
    - android-25
    - extra-google-m2repository
    - extra-android-m2repository
  licenses:
    - 'android-sdk-license-.+'

script:
  - ./gradlew clean test
