language: android
jdk: oraclejdk8

android:
  components:
    - tools
    - platform-tools
    - tools
    - build-tools-26.0.2
    - android-26
    - extra-google-google_play_services
    - extra-google-m2repository
    - extra-android-m2repository
    - extra-android-support
    - addon-google_apis-google-24

licenses:
    - 'android-sdk-license-.+'
    - 'google-gdk-license-.+'
    - '.+'

group: deprecated-2017Q3

script:
  - ./gradlew clean test
  - ./gradlew clean :stripe:checkstyle
