<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.stripe.android.financialconnections">

    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <activity
            android:name="com.stripe.android.financialconnections.FinancialConnectionsSheetRedirectActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!-- Accepts success and cancel URIs that begin with "stripe-auth://link-accounts” -->
                <data
                    android:host="link-accounts"
                    android:scheme="stripe-auth"
                    android:path="/${applicationId}/success" />
                <data
                    android:host="link-accounts"
                    android:scheme="stripe-auth"
                    android:path="/${applicationId}/cancel" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.stripe.android.financialconnections.FinancialConnectionsSheetActivity"
            android:exported="false"
            android:theme="@style/StripeDefaultTheme" />

        <activity
            android:name="com.stripe.android.financialconnections.ui.FinancialConnectionsSheetNativeActivity"
            android:exported="false"
            android:theme="@style/StripeDefaultTheme" />

        <provider
            android:name=".appinitializer.FinancialConnectionsInitializer"
            android:authorities="${applicationId}.financialconnections-init"
            android:exported="false"
            android:multiprocess="true" />
    </application>

    <!--
    See https://developer.android.com/training/package-visibility/declaring for more details.
    -->
    <queries>
        <!--
        Added to check the default browser that will host the AuthFlow.
        -->
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="http" />
        </intent>
    </queries>


</manifest>
