<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <activity
            android:name=".FinancialConnectionsSheetRedirectActivity"
            android:launchMode="singleTask"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!-- Returning from app2app: return_url is triggered to reopen web AuthFlow and poll accounts. -->
                <data
                    android:host="link-accounts"
                    android:scheme="stripe-auth"
                    android:pathPrefix="/${applicationId}/authentication_return" />

                <!-- Returning from app2app: return_url is triggered to reopen native AuthFlow and poll accounts. -->
                <data
                    android:host="link-native-accounts"
                    android:scheme="stripe-auth"
                    android:pathPrefix="/${applicationId}/authentication_return" />

                <!-- End of web AuthFlow success and cancel URIs that begin with "stripe-auth://link-accounts/{app-id}/...” -->
                <data
                    android:host="link-accounts"
                    android:scheme="stripe-auth"
                    android:path="/${applicationId}/success" />
                <data
                    android:host="link-accounts"
                    android:scheme="stripe-auth"
                    android:path="/${applicationId}/cancel" />

                <!-- Opening app2app: Web flow triggers stripe-auth://native-redirect/{app-id}/http://web-that-redirects-to-native -->
                <data
                    android:host="native-redirect"
                    android:pathPrefix="/${applicationId}"
                    android:scheme="stripe-auth" />

                <!-- Accepts success/cancel/fail URIs that begin with "stripe://auth-redirect” -->
                <data
                    android:host="auth-redirect"
                    android:scheme="stripe"
                    android:pathPrefix="/${applicationId}" />
            </intent-filter>
        </activity>
        <activity
            android:name=".FinancialConnectionsSheetActivity"
            android:exported="false"
            android:theme="@style/StripeFinancialConnectionsDefaultTheme" />

        <activity android:name=".webview.FinancialConnectionsWebviewActivity"
            android:exported="false"
            android:theme="@style/StripeFinancialConnectionsDefaultTheme" />

        <activity
            android:name="com.stripe.android.financialconnections.ui.FinancialConnectionsSheetNativeActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/StripeFinancialConnectionsDefaultTheme" />
    </application>

    <!--
    See https://developer.android.com/training/package-visibility/declaring for more details.
    -->
    <queries>
        <!--
        Added to check the default browser that will host the AuthFlow.
        -->
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="http" />
        </intent>
    </queries>


</manifest>
