<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application>
        <activity
            android:name=".cardscan.CardScanActivity"
            android:theme="@style/StripePaymentSheetDefaultTheme"
            android:exported="false" />
    </application>

    <uses-sdk tools:overrideLibrary="com.google.android.libraries.places,com.google.android.gms.common" />
</manifest>
