<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <queries>
        <provider android:authorities="com.stripe.android.upidemo.state" />
    </queries>
    <application
        android:allowBackup="false"
        android:icon="@drawable/bank_icon"
        android:label="@string/app_name"
        android:theme="@style/DemoBankTheme">
        <activity android:name=".BankActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="stripe-upi-demo" android:host="pay" />
            </intent-filter>
        </activity>
    </application>
</manifest>
