<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.stripe.android.connections">

    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <activity
            android:name=".ConnectionsSheetRedirectActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!-- Accepts success and cancel URIs that begin with "stripe-auth://link-accounts” -->
                <data
                    android:host="link-accounts"
                    android:scheme="stripe-auth"
                    android:path="/${applicationId}/success" />
                <data
                    android:host="link-accounts"
                    android:scheme="stripe-auth"
                    android:path="/${applicationId}/cancel" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ConnectionsSheetActivity"
            android:exported="false"
            android:theme="@style/StripeDefaultTheme" />

        <provider
            android:authorities="${applicationId}.appinitprovider"
            android:name=".ConnectionsInitProvider"
            android:exported="false" />
    </application>

</manifest>
