<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.stripe.android">

    <application>
        <activity
            android:name=".view.AddPaymentMethodActivity"
            android:theme="@style/StripeDefaultTheme" />
        <activity
            android:name=".view.PaymentMethodsActivity"
            android:theme="@style/StripeDefaultTheme" />
        <activity
            android:name=".view.PaymentFlowActivity"
            android:theme="@style/StripeDefaultTheme" />
        <activity
            android:name=".view.PaymentAuthWebViewActivity"
            android:theme="@style/StripeDefaultTheme"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".view.PaymentAuthUpiAppViewActivity"
            android:theme="@style/StripeDefaultTheme"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".view.PaymentRelayActivity"
            android:theme="@style/StripeDefaultTheme" />
        <activity
            android:name=".view.Stripe3ds2CompletionActivity"
            android:theme="@style/StripeDefaultTheme" />

        <activity
            android:name=".paymentsheet.PaymentSheetActivity"
            android:theme="@style/StripePaymentSheetDefaultTheme"
            android:screenOrientation="portrait" />
        <activity
            android:name=".paymentsheet.PaymentOptionsActivity"
            android:theme="@style/StripePaymentSheetDefaultTheme"
            android:screenOrientation="portrait" />

        <activity
            android:name=".googlepay.StripeGooglePayActivity"
            android:theme="@style/StripeGooglePayDefaultTheme"
            android:screenOrientation="portrait" />
    </application>

</manifest>