<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.stripe.android"
          android:versionCode="28"
          android:versionName="8.1.0"
    >

    <application>
        <activity
            android:name=".view.AddSourceActivity"
            android:theme="@style/StripeDefaultTheme"
            android:windowSoftInputMode="stateVisible"
            >

        </activity>

        <activity
            android:name=".view.PaymentMethodsActivity"
            android:theme="@style/StripeDefaultTheme"
            >
        </activity>

        <activity
            android:name=".view.PaymentFlowActivity"
            android:theme="@style/StripeDefaultTheme"
            >
        </activity>
    </application>

</manifest>
