<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <queries>
        <package
            android:name="com.samsung.android.spay"
            android:value="2.17" />
    </queries>

    <application>
        <activity
            android:name=".SamsungPayLauncherActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
    </application>

</manifest>
