<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.stripe.android.identity">
    <!--Note: This manifest file overrides the default one at main/AndroidManifest.xml, it is required by IdentityActivityTest, which needs android:theme to be set for layout inflation-->
    <application>
        <activity
            android:name=".IdentityActivity"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden"
            android:exported="false" />
    </application>
</manifest>
