<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.stripe.financialconnections.example.metadata.backend_url"
            android:value="${STRIPE_FINANCIAL_CONNECTIONS_EXAMPLE_BACKEND_URL}" />

        <activity
            android:name=".YourChromeCustomTabActivity"
            android:launchMode="singleTask"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:scheme="zzz-custom"
                    android:host="open"
                    android:pathPattern="/customtab_return" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ReturnToCustomTabActivity"
            android:exported="true">
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:scheme="zzz-custom"
                    android:host="open"
                    android:pathPattern="/customtab_return" />
            </intent-filter>
        </activity>

<!--        <activity-->
<!--            android:name=".FinancialConnectionsLauncherActivity"-->
<!--            android:exported="true">-->
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->
<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
<!--            &lt;!&ndash; Deep link intent filter &ndash;&gt;-->
<!--            <intent-filter android:autoVerify="true">-->
<!--                <action android:name="android.intent.action.VIEW" />-->
<!--                <category android:name="android.intent.category.DEFAULT" />-->
<!--                <category android:name="android.intent.category.BROWSABLE" />-->
<!--                <data-->
<!--                    android:scheme="xxxx-stripe-auth"-->
<!--                    android:host="just-open"-->
<!--                    android:pathPattern=".*" />-->
<!--            </intent-filter>-->
<!--        </activity>-->
        <activity
            android:name="com.stripe.android.financialconnections.example.FinancialConnectionsDataExampleActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.stripe.android.financialconnections.example.FinancialConnectionsBankAccountTokenExampleActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.stripe.android.financialconnections.example.FinancialConnectionsComposeExampleActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.stripe.android.financialconnections.example.FinancialConnectionsPlaygroundActivity"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>
