<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.stripe.financialconnections.example.metadata.backend_url"
            android:value="${STRIPE_FINANCIAL_CONNECTIONS_EXAMPLE_BACKEND_URL}" />

        <activity
            android:name=".FinancialConnectionsLauncherActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.stripe.android.financialconnections.example.FinancialConnectionsDataExampleActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.stripe.android.financialconnections.example.FinancialConnectionsDataExampleActivityJava"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.stripe.android.financialconnections.example.FinancialConnectionsBankAccountTokenExampleActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.stripe.android.financialconnections.example.FinancialConnectionsComposeExampleActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.stripe.android.financialconnections.example.FinancialConnectionsPlaygroundActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="stripeconnectionsexample"
                    android:host="playground" />
            </intent-filter>
        </activity>
        <activity
            android:name=".FinancialConnectionsQrCodeActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name="com.stripe.android.financialconnections.example.FinancialConnectionsWebviewExampleActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:launchMode="singleTask"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!-- Observe Bank login completion redirect from custom tab back to webview app -->
                <!-- This is the `return_url` passed when creating the session: -->
                <!-- zzz-custom://open/customtab_return -->
                <data
                    android:host="open"
                    android:pathPrefix="/customtab_return"
                    android:scheme="zzz-custom" />
            </intent-filter>
        </activity>
    </application>

</manifest>
