<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <uses-feature android:name="android.hardware.camera" android:required="false" />
    <uses-feature android:name="android.hardware.camera.autofocus" android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <activity
            android:name=".cardscan.CardScanActivity"
            android:screenOrientation="nosensor"
            android:theme="@style/StripeCardScanDefaultTheme" />
    </application>
</manifest>
