<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application>
        <provider
            android:name="com.stripe.android.core.ActivityStartLoggingProvider"
            android:authorities="${applicationId}.stripe.activitystartloggingprovider"
            android:exported="false" />
    </application>
</manifest>
