<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.stripe.android.core">

    <!--
    See https://developer.android.com/training/package-visibility/declaring for more details.
    -->
    <queries>
        <!--
        Added to check if Chrome is installed for browser-based payment authentication (e.g. 3DS1).
        -->
        <package android:name="com.android.chrome" />
    </queries>

</manifest>