<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:usesCleartextTraffic="true"
        tools:targetApi="m">
        <activity
            android:name=".IdentityActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"
            android:configChanges="orientation|keyboardHidden"
            android:exported="false" />

        <provider
            android:name="com.stripe.android.identity.IdentityFileProvider"
            android:authorities="${applicationId}.StripeIdentityFileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/stripe_identity_file_paths" />
        </provider>
    </application>


    <queries>
        <intent>
            <action android:name="android.media.action.IMAGE_CAPTURE" />
        </intent>
    </queries>
</manifest>
