<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.stripe.android.identity">

    <uses-permission android:name="android.permission.CAMERA" />

    <application>
        <activity
            android:name=".navigation.NavHostActivity"
            android:exported="false" />
        <activity
            android:name=".IdentityActivity"
            android:exported="false" />
    </application>

</manifest>
