<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.stripe.android.paymentsheet">

    <application>
        <activity
            android:name=".MainActivity"
            android:exported="true" />
        <activity
            android:name=".PaymentSheetActivity"
            android:exported="false"
            android:theme="@style/StripePaymentSheetDefaultTheme" />
        <activity
            android:name=".PaymentOptionsActivity"
            android:exported="false"
            android:theme="@style/StripePaymentSheetDefaultTheme" />
    </application>

</manifest>
