<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" >

    <application>
        <activity
            android:name=".PaymentSheetActivity"
            android:exported="false"
            android:theme="@style/StripePaymentSheetDefaultTheme" />
        <activity
            android:name=".PaymentOptionsActivity"
            android:exported="false"
            android:theme="@style/StripePaymentSheetDefaultTheme" />
        <activity
            android:name="com.stripe.android.customersheet.CustomerSheetActivity"
            android:exported="false"
            android:theme="@style/StripePaymentSheetDefaultTheme" />
        <activity
            android:name=".addresselement.AddressElementActivity"
            android:exported="false"
            android:theme="@style/StripePaymentSheetDefaultTheme" />
        <activity
            android:name=".paymentdatacollection.bacs.BacsMandateConfirmationActivity"
            android:exported="false"
            android:theme="@style/StripePaymentSheetDefaultTheme" />
        <activity
            android:name=".paymentdatacollection.polling.PollingActivity"
            android:exported="false"
            android:theme="@style/StripePaymentSheetDefaultTheme" />
        <activity
            android:name=".ui.SepaMandateActivity"
            android:exported="false"
            android:theme="@style/StripePaymentSheetDefaultTheme" />
        <activity
            android:name=".ExternalPaymentMethodProxyActivity"
            android:exported="false"
            android:theme="@style/StripePayLauncherDefaultTheme" />
        <activity
            android:name=".paymentdatacollection.cvcrecollection.CvcRecollectionActivity"
            android:theme="@style/StripePaymentSheetDefaultTheme" />
        <activity
            android:name="com.stripe.android.link.LinkActivity"
            android:autoRemoveFromRecents="true"
            android:configChanges="orientation|keyboard|keyboardHidden|screenLayout|screenSize|smallestScreenSize"
            android:exported="false"
            android:label="@string/stripe_link"
            android:theme="@style/StripeLinkBaseTheme"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.stripe.android.link.ui.verification.VerificationActivity"
            android:autoRemoveFromRecents="true"
            android:configChanges="orientation|keyboard|keyboardHidden|screenLayout|screenSize|smallestScreenSize"
            android:exported="false"
            android:label="@string/stripe_link"
            android:theme="@style/StripeLinkTranslucentTheme"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.stripe.android.link.LinkForegroundActivity"
            android:autoRemoveFromRecents="true"
            android:configChanges="orientation|keyboard|keyboardHidden|screenLayout|screenSize|smallestScreenSize"
            android:launchMode="singleTop"
            android:theme="@style/StripeTransparentTheme" />
        <activity
            android:name="com.stripe.android.link.LinkRedirectHandlerActivity"
            android:autoRemoveFromRecents="true"
            android:exported="true"
            android:launchMode="singleInstance"
            android:theme="@style/StripeTransparentTheme" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="complete"
                    android:path="/${applicationId}"
                    android:scheme="link-popup" />
            </intent-filter>
        </activity>
    </application>

</manifest>