<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.stripe.android.paymentsheet">

    <application>
        <activity
            android:name=".PaymentSheetActivity"
            android:theme="@style/StripePaymentSheetDefaultTheme"
            android:exported="false" />
        <activity
            android:name=".PaymentOptionsActivity"
            android:theme="@style/StripePaymentSheetDefaultTheme"
            android:exported="false" />
        <activity
            android:name=".AddressOptionsActivity"
            android:theme="@style/StripePaymentSheetDefaultTheme"
            android:exported="false" />
    </application>
</manifest>
