<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".ExampleApplication"
        android:requestLegacyExternalStorage="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup">

        <meta-data
            android:name="com.stripe.android.paymentsheet.example.metadata.backend_url"
            android:value="${BACKEND_URL}" />

        <meta-data
            android:name="com.stripe.android.paymentsheet.example.metadata.google_places_api_key"
            android:value="${GOOGLE_PLACES_API_KEY}" />

        <!-- Enables the Google Payment API -->
        <meta-data
            android:name="com.google.android.gms.wallet.api.enabled"
            android:value="true" />

        <activity
            android:name="com.stripe.android.paymentsheet.example.MainActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.stripe.android.paymentsheet.example.samples.ui.paymentsheet.complete_flow.CompleteFlowActivity" />
        <activity android:name="com.stripe.android.paymentsheet.example.samples.ui.paymentsheet.custom_flow.CustomFlowActivity" />
        <activity android:name="com.stripe.android.paymentsheet.example.samples.ui.paymentsheet.server_side_confirm.custom_flow.ServerSideConfirmationCustomFlowActivity" />
        <activity android:name="com.stripe.android.paymentsheet.example.samples.ui.paymentsheet.server_side_confirm.complete_flow.ServerSideConfirmationCompleteFlowActivity" />
        <activity android:name="com.stripe.android.paymentsheet.example.samples.ui.customersheet.CustomerSheetExampleActivity" />
        <activity android:name="com.stripe.android.paymentsheet.example.samples.ui.addresselement.AddressElementExampleActivity" />
        <activity android:name="com.stripe.android.paymentsheet.example.playground.activity.QrCodeActivity" />
        <activity android:name="com.stripe.android.paymentsheet.example.playground.activity.FawryActivity" />
        <activity
            android:name="com.stripe.android.paymentsheet.example.playground.PaymentSheetPlaygroundActivity"
            android:exported="true"
            >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="stripepaymentsheetexample"
                    android:host="paymentsheetplayground"
                    />
            </intent-filter>
        </activity>
    </application>

</manifest>
