<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name=".view.PaymentAuthWebViewActivity"
            android:theme="@style/StripeDefaultTheme"
            android:exported="false" />
        <activity
            android:name=".view.PaymentRelayActivity"
            android:theme="@style/StripeTransparentTheme"
            android:exported="false" />

        <!--
        Set android:launchMode="singleTop" so that the StripeBrowserLauncherActivity instance that
        launched the browser Activity will also handle the return URL deep link.
        -->
        <activity
            android:name=".payments.StripeBrowserLauncherActivity"
            android:theme="@style/StripeTransparentTheme"
            android:launchMode="singleTask"
            android:exported="false" />

        <activity
            android:name=".payments.StripeBrowserProxyReturnActivity"
            android:theme="@style/StripeTransparentTheme"
            android:launchMode="singleTask"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!--
                Must match `DefaultReturnUrl#value`.
                -->
                <data
                    android:scheme="stripesdk"
                    android:host="payment_return_url"
                    android:path="/${applicationId}" />
            </intent-filter>

        </activity>

        <activity
            android:name=".payments.core.authentication.threeds2.Stripe3ds2TransactionActivity"
            android:theme="@style/StripeDefaultTheme"
            android:exported="false" />

        <activity
            android:name=".googlepaylauncher.GooglePayLauncherActivity"
            android:theme="@style/StripeGooglePayDefaultTheme"
            android:exported="false" />

        <activity
            android:name=".googlepaylauncher.GooglePayPaymentMethodLauncherActivity"
            android:theme="@style/StripeGooglePayDefaultTheme"
            android:exported="false" />

        <activity
            android:name=".payments.paymentlauncher.PaymentLauncherConfirmationActivity"
            android:theme="@style/StripePayLauncherDefaultTheme"
            android:exported="false" />
        <activity
            android:name=".payments.bankaccount.ui.CollectBankAccountActivity"
            android:theme="@style/StripeTransparentTheme"
            android:exported="false" />
    </application>

    <!--
    See https://developer.android.com/training/package-visibility/declaring for more details.
    -->
    <queries>
        <!--
        Added to check if Chrome is installed for browser-based payment authentication (e.g. 3DS1).
        -->
        <package android:name="com.android.chrome" />
    </queries>

</manifest>
