<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name="com.stripe.android.link.LinkActivity"
            android:theme="@style/StripeLinkBaseTheme"
            android:exported="false"
            android:label="@string/stripe_link"
            android:windowSoftInputMode="adjustResize"
            android:autoRemoveFromRecents="true"
            android:configChanges="orientation|keyboard|keyboardHidden|screenLayout|screenSize|smallestScreenSize" />

        <activity
            android:name="com.stripe.android.link.LinkForegroundActivity"
            android:autoRemoveFromRecents="true"
            android:configChanges="orientation|keyboard|keyboardHidden|screenLayout|screenSize|smallestScreenSize"
            android:launchMode="singleTop"
            android:theme="@style/StripeTransparentTheme" />

        <activity
            android:name="com.stripe.android.link.LinkRedirectHandlerActivity"
            android:theme="@style/StripeTransparentTheme"
            android:autoRemoveFromRecents="true"
            android:launchMode="singleInstance"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="link-popup"
                    android:host="complete"
                    android:path="/${applicationId}" />
            </intent-filter>
        </activity>
    </application>
</manifest>
