name: CI
on:
    push:
        branches:
            - master
    pull_request:
jobs:
    check:
        name: Check
        runs-on: ubuntu-latest
        timeout-minutes: 10
        steps:
            - uses: actions/checkout@v2
            - uses: gradle/wrapper-validation-action@v1
            - uses: actions/setup-java@v1
              with:
                  java-version: 8
            - uses: actions/cache@v1
              with:
                path: ~/.gradle/caches
                key: gradle-${{ runner.os }}-${{ hashFiles('**/build.gradle') }}-${{ hashFiles('**/gradle/wrapper/gradle-wrapper.properties') }}
            - name: Ktlint
              run: ./gradlew ktlint
            - name: Checkstyle
              run: ./gradlew checkstyle
            - name: Lint
              run: ./gradlew lintRelease

            # Check if there has been a binary incompatible change to the API.
            # If this change is intentional, run `./gradlew apiDump` and commit the new API files.
            - name: Check binary compatibility
              run: ./gradlew apiCheck

    unit-tests:
        name: Unit tests
        runs-on: ubuntu-latest
        timeout-minutes: 35
        steps:
            - uses: actions/checkout@v2
            - uses: gradle/wrapper-validation-action@v1
            - uses: actions/setup-java@v1
              with:
                  # use Java 8 for Locale and Currency compatibility with Android
                  java-version: 8
            - uses: actions/cache@v1
              with:
                path: ~/.gradle/caches
                key: gradle-${{ runner.os }}-${{ hashFiles('**/build.gradle') }}-${{ hashFiles('**/gradle/wrapper/gradle-wrapper.properties') }}
            - name: Unit tests
              run: ./gradlew testDebugUnitTest
            - uses: actions/upload-artifact@v2
              if: failure()
              with:
                name: unit-test-report
                path: stripe/build/reports/tests/testDebugUnitTest/
