name: CI
on:
  push:
    branches:
      - master
  pull_request:

env:
  STRIPE_END_TO_END_TESTS_BACKEND_URL: ${{ secrets.STRIPE_END_TO_END_TESTS_BACKEND_URL }}
  STRIPE_END_TO_END_TESTS_PUBLISHABLE_KEY: ${{ secrets.STRIPE_END_TO_END_TESTS_PUBLISHABLE_KEY }}
  GRADLE_OPTS: -Dkotlin.incremental=false

jobs:
  end-to-end-tests:
    name: End-to-end tests
    runs-on: ubuntu-latest-4-cores
    timeout-minutes: 20
    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/stripe_setup
      - name: End-to-end tests
        run: ./gradlew :stripe-test-e2e:testDebugUnitTest
      - uses: actions/upload-artifact@v3
        if: failure()
        with:
          name: unit-test-report
          path: stripe-test-e2e/build/reports/tests/testDebugUnitTest/

  build-paymentsheet-example-project:
    name: Build paymentsheet example project
    runs-on: ubuntu-latest-4-cores
    timeout-minutes: 20
    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/stripe_setup
      - name: Build example projects
        run: ./gradlew :paymentsheet-example:assembleAndroidTest
      - uses: actions/upload-artifact@v3
        if: failure()
        with:
          name: test-failures
          path: |
            **/build/reports/tests/
            **/out/failures/
