name: End-to-end tests
on:
  schedule:
    # every day at 8am
    - cron: '0 8 * * *'
jobs:
  end-to-end-tests:
    name: End-to-end tests
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - uses: actions/checkout@v2
      - uses: gradle/wrapper-validation-action@v1
      - uses: actions/setup-java@v1
        with:
          java-version: 11
      - uses: actions/cache@v1
        with:
          path: ~/.gradle/caches
          key: gradle-${{ runner.os }}-${{ hashFiles('**/build.gradle') }}-${{ hashFiles('**/gradle/wrapper/gradle-wrapper.properties') }}
      - name: Unit tests
        run: ./gradlew :stripe-test-e2e:testDebugUnitTest
      - uses: actions/upload-artifact@v2
        if: failure()
        with:
          name: unit-test-report
          path: stripe-test-e2e/build/reports/tests/testDebugUnitTest/
      - name: Notify failure endpoint
        id: notifyFailureEndpoint
        uses: fjogeleit/http-request-action@master
        with:
          url: ${{ secrets.SDK_FAILURE_NOTIFICATION_ENDPOINT }}
          method: 'POST'
          data: |
            { \
              "project": "RUN_MOBILESDK", \
              "summary": "stripe-android E2E test failed", \
              "description": "Please ACK this ticket and investigate the failure. $GITHUB_SERVER_URL/$GITHUB_REPOSITORY/actions/runs/$GITHUB_RUN_ID" \
              }
      - name: Show Response
        run: echo ${{ steps.notifyFailureEndpoint.outputs.response }}