name: Fetch Lokalize translations
on:
  workflow_dispatch:
  schedule:
    # Every Monday at 10 AM East Coast time / 7 AM West Coast time / 2 PM UTC
    - cron: "0 14 * * 1"
jobs:
  fetch-lokalize-translations:
    runs-on: macos-latest
    steps:
      - name: Check out the current state
        uses: actions/checkout@v4
      - name: Fetch translations
        run: cd scripts && ./localize.sh
        shell: bash
        env:
          LOKALISE_API_TOKEN: ${{ secrets.LOKALISE_API_TOKEN }}
      - name: Compute timestamp
        id: timestamp
        run: echo "TIMESTAMP=$(date +'%Y%m%d-%H%M%S')" >> $GITHUB_OUTPUT
      - name: Create Pull Request
        uses: peter-evans/create-pull-request@5b4a9f6a9e2af26e5f02351490b90d01eb8ec1e55b4a9f6a9e2af26e5f02351490b90d01eb8ec1e5
        id: create-pull-request
        with:
          token: ${{ secrets.LOKALISE_CREATE_PR_TOKEN }}
          commit-message: Fetch latest Lokalize translations
          title: Update translations
          body: This pull request contains the latest translations from Lokalize.
          branch: update-translations-${{ steps.timestamp.outputs.TIMESTAMP }}
          base: master
      - name: Enable Auto-Merge
        if: ${{ steps.create-pull-request.outputs.pull-request-url }}
        run: gh pr merge --squash --auto ${{ steps.create-pull-request.outputs.pull-request-url }}
        env:
          GH_TOKEN: ${{ github.token }}
