name: Instrumentation tests
on:
  schedule:
    # every 12 hours
    - cron: '0 */12 * * *'
jobs:
  instrumentation-tests:
    name: Instrumentation tests
    runs-on: macos-latest

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-java@v2
        with:
          distribution: 'zulu'
          java-version: '11'

      - name: Instrumentation tests
        uses: reactivecircus/android-emulator-runner@v2.22.0
        with:
          api-level: 29
          arch: x86
          disable-animations: true
          script: ./gradlew connectedAndroidTest
        env:
          STRIPE_EXAMPLE_BACKEND_URL: ${{ secrets.STRIPE_EXAMPLE_BACKEND_URL }}
          STRIPE_EXAMPLE_PUBLISHABLE_KEY: ${{ secrets.STRIPE_EXAMPLE_PUBLISHABLE_KEY }}

      - uses: actions/upload-artifact@v2
        if: failure()
        with:
          name: instrumentation-test-report
          path: example/build/reports/androidTests/connected/flavors/debugAndroidTest/
