name: Upload aabs on push
# Upload aabs of example apps when changes are merged to master branch.
# The aab is used as a base reference to compare with aab built from pull requests.

on:
  workflow_dispatch:
  push:
    branches:
      - master
      - carlosmuvi/BANKCON-15935/distribute-financial-connections-android-on-master

jobs:
  upload-identity:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/stripe_setup
      - name: Upload Identity example release bundle to Emerge
        run: ./gradlew :identity-example:emergeUploadTheme1ReleaseAab
        env:
          EMERGE_API_TOKEN: ${{ secrets.EMERGE_API_KEY }}
          EMERGE_TAG: push
  upload-financial-connections:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/stripe_setup
      - name: Upload Financial Connections example release bundle to Emerge
        run: ./gradlew :financial-connections-example:emergeUploadReleaseAab
        env:
          EMERGE_API_TOKEN: ${{ secrets.EMERGE_API_KEY }}
          EMERGE_TAG: push
      - name: Assemble Release
        run: ./gradlew :financial-connections-example:assembleRelease
      - name: Firebase App Distribution
        uses: wzieba/Firebase-Distribution-Github-Action@a41b2f7ab3f7c2631b6a73fb2f660b517cef45a9
        with:
          appId: "1:527113280969:android:3c57e90cbb8c0397d95c18"
          serviceCredentialsFileContent: ${{ secrets.FINANCIAL_CONNECTIONS_GOOGLE_CLOUD_KEY }}
          file: financial-connections-example/build/outputs/apk/release/financial-connections-example-release.apk
          groups: financial-connections-testers
  upload-payment-sheet:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/stripe_setup
      - name: Upload Payment Sheet example release bundle to Emerge
        run: ./gradlew :paymentsheet-example:emergeUploadReleaseAab
        env:
          EMERGE_API_TOKEN: ${{ secrets.EMERGE_API_KEY }}
          EMERGE_TAG: push
      - name: Assemble Release
        run: ./gradlew :paymentsheet-example:assembleRelease
      - name: Firebase App Distribution
        uses: wzieba/Firebase-Distribution-Github-Action@a41b2f7ab3f7c2631b6a73fb2f660b517cef45a9
        with:
          appId: "1:577365562050:android:5b7e92d18f8ca8d1e9a15b"
          serviceCredentialsFileContent: ${{ secrets.PAYMENTS_GOOGLE_CLOUD_KEY }}
          file: paymentsheet-example/build/outputs/apk/release/paymentsheet-example-release.apk
          groups: elements-mobile
