name: Upload aabs on push
# Upload aabs of example apps when changes are merged to master branch.
# The aab is used as a base reference to compare with aab built from pull requests.

on:
  push:
    branches: [ master ]

jobs:
  upload-identity:
    runs-on: ubuntu-latest
    steps:
      - uses: ./.github/actions/stripe_setup
      - name: Generate Android release bundle for Identity example app
        run: ./gradlew :identity-example:bundleRelease
      - name: Upload artifact to Emerge
        uses: EmergeTools/emerge-upload-action@v1.0.2
        with:
          artifact_path: identity-example/build/outputs/bundle/theme1Release/identity-example-theme1-release.aab
          emerge_api_key: ${{ secrets.EMERGE_API_KEY }}
          build_type: push
